.DS_Store
target/
_build/
.moonc/
.mooncakes/
.moonagent/
*.wasm
*.core
*.mi

node_modules
3rd_repos
package.json
package-lock.json

scripts/snapshot_tool/frame_compare_result/
scripts/snapshot_tool/test_lottie_shadow.js

demo-v2/dist
demo-v2/samples
demo-v2/public/samples